/* *{
    box-sizing: border-box;
} */

::-webkit-scrollbar{
    width : 1px;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

::-webkit-scrollbar-button{
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background-color:transparent;
}

.container-fluid{
    padding:0;
}

.smallScreenUser{
    background-color: rgb(132, 238, 206);
    border-radius: 7px;
    cursor: pointer;
}


.smallScreenUser:hover{
    background-color: rgb(166, 255, 228);
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid grey;
}

.icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
}

.navBar{
    height: 3.6rem;
    background-color: rgb(227, 228, 230);
    padding-right:0;
}

.navBar .brand{
    margin-left : 1rem;
    color: rgb(43, 56, 53);
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.sideNavBar{
    position: fixed;
    padding : 0;
    top: 3.9rem;
    width : auto;
    height : 90vh;
    background-color: rgb(241, 241, 241);
}

 /* .sideNavBtn{
    position: fixed;
    top : 3.8rem;
    padding : 4px;
    margin : 15px;
    background-color: rgb(92, 91, 91);
    border-radius: 3px;
    cursor: pointer;
    transition : 0.5s;
}

.sideNavBtn:hover{
    transition: 1s;
    background-color: rgb(122, 122, 122);
} */

.sideNavClose{
    position: absolute;
    padding : 4px;
    margin : 10px;
    background-color: rgb(92, 91, 91);
    border-radius: 3px;
    cursor: pointer;
    transition : 0.5s;
}

.sideNavClose:hover{
    transition: 1s;
    background-color: rgb(122, 122, 122);
}

.btnDot{
    margin : 3px;
    background-color: rgb(10, 235, 168);
    width : 5px;
    height: 5px;
    border-radius: 2px;
    cursor: pointer;
}

 .sideNavOptions{
    position : relative;
    margin : 2rem;
    max-width: max-content;
    height: inherit;
}

 .sideNavOptions .options{
    font-weight: 500;
    padding : 3px;
    width : max-content;
}

 .sideNavOptions .optionsSelected{
    font-weight: 500;
    padding : 3px;
    width : max-content;
    background-color: rgb(132, 238, 206);
    border : 1px solid rgb(80, 80, 80);
    border-radius: 5px;
}

.filter{
    width : max-content;
    height : inherit;
    border-radius: 7px;
    background-color:rgb(241, 241, 241);
    border-left: 2px solid rgb(204, 204, 204);
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.filterSelected{
    width : max-content;
    height : inherit;
    border-radius: 7px;
    background-color:rgb(132, 238, 206);
    border-left: 2px solid rgb(204, 204, 204);
    border-bottom: 2px solid rgb(204, 204, 204);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.createIssue{
    margin-top: 1rem;
    border-radius: 8px;
    cursor: pointer;    
}

.createIssue:hover{
    background-color: rgb(132, 238, 206);
}

.dashboard{
    background-color: rgb(241, 241, 241);
    width : 100%;
    height : 95vh;

}

.issue{
    border : 1px solid grey;
    border-radius: 5px;
    background-color: white;
    padding : 5px;
    margin-top : 8px;
    margin-left : 5px;
    display: flex;
    overflow: scroll;
    max-height: max-content;
    box-shadow: 2px 2px 4px 3px rgb(190, 190, 190);
}

.issueTable{
    margin : 5px;
    padding : 5px;
    height : 80vh;
    border-bottom: 1px solid grey;
    box-shadow : 1px 2px 3px 4px solid grey;
    overflow: scroll;
}

.pagination{
    margin : 5px;
    padding : 5px;
}

.page{
    width : max-content;
    height : max-content;
    padding : 5px;
    background-color:rgb(255, 255, 255);
    border : 1px solid black;
    font-weight: 700;
}