.container-fluid{
    padding:0;
}

.icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
}

.navBar{
    height: 3.6rem;
    background-color: rgb(227, 228, 230);
    padding-right:0;
}

.navBar .brand{
    margin-left : 1rem;
    color: rgb(43, 56, 53);
    letter-spacing: 0.3rem;
    font-weight: 600;
}

.sideNavBar{
    position: fixed;
    padding : 0;
    top: 3.9rem;
    width : auto;
    height : 90vh;
    background-color: rgb(241, 241, 241);
}

 .sideNavBtn{
    position: fixed;
    top : 3.8rem;
    padding : 4px;
    margin : 15px;
    background-color: rgb(92, 91, 91);
    border-radius: 3px;
    cursor: pointer;
    transition : 0.5s;
}

.sideNavBtn:hover{
    transition: 1s;
    background-color: rgb(122, 122, 122);
}

.sideNavClose{
    position: absolute;
    top : 0.4rem;
    left : 8.5rem;
    padding : 4px;
    margin : 10px;
    background-color: rgb(92, 91, 91);
    border-radius: 3px;
    cursor: pointer;
    transition : 0.5s;
}

.sideNavClose:hover{
    transition: 1s;
    background-color: rgb(122, 122, 122);
}

.btnDot{
    margin : 3px;
    background-color: rgb(10, 235, 168);
    width : 5px;
    height: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.sideNavBar .sideNavOptions{
    position : relative;
    margin : 2rem;
    top: 6rem;
}

.sideNavBar .sideNavOptions .options{
    font-weight: 500;
    padding : 3px;
}

.sideNavBar .sideNavOptions .optionsSelected{
    font-weight: 500;
    padding : 3px;
    background-color: rgb(132, 238, 206);
    border : 1px solid rgb(80, 80, 80);
    border-radius: 5px;
}

.filter{
    width : 25vw;
    height : 4rem;
    background-color:rgb(241, 241, 241);
}